%li.message-list__item
  .message-list__item--header
    %span.username
      = message.user.name
    %span.date
      = get_datetime_jp(message.created_at)
  .message-list__item--body
    %p.text
      = message.message
