.contents
  .contents--right
    .group-info
      .group-info__name
        sample group
      .group-info__members
        Members: test_man
      .group-info__edit-btn
        Edit
    %ul.message-list
      %li.message-list__item
        .message-list__item--header
          %span.username
            tarou
          %span.date
            2017/01/01 00:00:00
        .message-list__item--body
          %p.text
            good bye world
      %li.message-list__item
        .message-list__item--header
          %span.username
            takashi
          %span.date
            2017/01/01 00:00:00
        .message-list__item--body
          %p.text
            hello world
    .message-input
      .message-input__form
        %input.message-input__form--textarea{name: "text", size: "90", placeholder: "type a message"}
        %i.message-input__form--select-pic.fa.fa-picture-o.fa-lg
        %input.message-input__form--send-btn{type: "submit", value: "Send"}
