@import "./reset"
@import "./chats"
@import "./user"
@import "./group"
@import "font-awesome"
@import "select2"

.alert
  width: 100%
  height: 30px
  color: #FFF
  position: fixed
  top: 0
  text-align: center
  line-height: 30px
  z-index: 1

.alert-notice
  background-color: #38AEF0

.alert-error
  background-color: #c83b39
